<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <!--<link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/dashboard/">-->
    <link href="/public/assets/dist/css/bootstrap.css" rel="stylesheet">
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
             -webkit-user-select: none;
             -moz-user-select: none;
             -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        label {
            padding: 0 5px;
            width: 150px;
            font-size: 12px;
            border-radius: 5px;
            color: #333;
            border: 1px solid #ccc;
            background-color: #fff;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a style="color: orange;" class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="http://localhost:8080/">Warehouse Inventory System</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" style="display: inline" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="sidebar-sticky pt-3">
                <h5>分類</h5>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="/products">
                            <span data-feather="shopping-cart"></span>
                            產品
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/warehouse/inventory/all">
                            <span data-feather="file"></span>
                            倉庫庫存
                        </a>
                    </li>
                    <br />
                    <br />
                    <li>
                        <form method="post" action="/products/csv" enctype="multipart/form-data">
                            <input id="upload-product-csv" type="file" name="file" value="Choose file" style="visibility: hidden;" />
                            <label for="upload-product-csv">Upload csv for product</label>
                            <input type="submit" value="Upload" />
                        </form>
                    </li>
                    <br />
                    <li>
                        <form method="post" action="/warehouse/inventory" enctype="multipart/form-data">
                            <input id="upload-quanty-csv" type="file" name="file" value="Choose file" style="visibility: hidden;" />
                            <label for="upload-quanty-csv">Upload csv for inventory</label>
                            <input type="submit" value="Upload" />
                        </form>
                    </li>
                </ul>
            </div>
        </nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <div></div>
                    <br/>
                    <div>
                        Source Location:&nbsp&nbsp&nbsp
                        <th:block th:if="${productInventory.result} == true">
                            <select name="source-location" id="source-location" οnchange="getSourceLocation()">
                                <th:block th:each="product : ${productInventory.data}">
                                    <option>
                                        <div th:text="${product.locationName}"></div>
                                    </option>
                                </th:block>
                            </select>
                        </th:block>
                        &nbsp&nbsp&nbspto Target Location:&nbsp&nbsp&nbsp
                        <th:block th:if="${warehouses} != null">
                            <select name="target-location" id="target-location" οnchange="getTargetLocation()">
                                <th:block th:each="warehouse : ${warehouses.data}">
                                    <option>
                                        <div th:text="${warehouse.location}"></div>
                                    </option>
                                </th:block>
                            </select>
                            <!--<form id="inventory-form" enctype="multipart/form-data">-->
                                <!--<input type="hidden" id="product-code" th:value="${productCode}" />-->
                                <!--<input type="text" name="code" maxlength="35" id="count" placeholder="Please input the count" />-->
                                <!--<button class="submit" id="transfer-button" type="button">Please input count and transfer!</button>-->
                            <!--</form>-->
                        </th:block>
                        &nbsp&nbsp&nbsp&nbsp&nbsp
                        <th:block>
                            <form style="float: right;" id="inventory-form" enctype="multipart/form-data">
                                <input type="hidden" id="product-code" th:value="${productCode}" />
                                <input type="text" name="code" maxlength="35" id="count" placeholder="Please input the count" />
                                <button class="submit" id="transfer-button" type="button">Transfer!</button>
                            </form>
                        </th:block>
                    </div>

                    <br/>
                    <tbody>
                    <thead>
                    <tr>
                        <th style="text-align: center">Product Code</th>
                        <th style="text-align: center">Product Name</th>
                        <th style="text-align: center">Warehouse Inventory Location </th>
                        <th style="text-align: center">Inventory Quanty</th>
                    </tr>
                    </thead>
                    <th:block th:if="${productInventory.result} == false">
                        <!--<h5>暫無商品</h5>-->
                    </th:block>
                    <th:block th:if="${productInventory.result} == true">
                        <th:block th:each="product : ${productInventory.data}">
                            <tr>
                                <td align="center" th:text="${product.productCode}"></td>
                                <td align="center" th:text="${product.productName}"></td>
                                <td align="center" th:text="${product.locationName}"></td>
                                <td align="center" th:text="${product.quanty}"></td>
                            </tr>
                        </th:block>
                    </th:block>
                    </tbody>
                </table>
            </div>
        </main>

    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript">
    $("#transfer-button").click(function () {
        var sourcevalue = $('#source-location option:selected').val();
        var targetvalue = $('#target-location option:selected').val();
        var productCode = $('#product-code').val();

        var obj = {
            source: sourcevalue,
            target: targetvalue
        };

        $.ajax({
            type: "POST",
            url:"http://localhost:8080/transfermation",
            dataType:"json",
            data: {productCode: productCode, sourceLocation: obj.source, targetLocation: obj.target, quanty: $('#count').val()},
            success: function(data) {
                alert(data.msg);
                window.location.href="http://localhost:8080/inventory/product?code=" + productCode;
            },
            error: function(data) {
                alert(data.msg);
            }
        });
    });
</script>
</body>
<!--<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>-->
<!--<script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script>-->
<script src="/public/assets/dist/js/bootstrap.bundle.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
</html>
